@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #15212d;
}

.container {
    position: relative;
    padding: 100px 150px;
}

.container h2 {
    font-size: 4em;
    font-weight: 500;
    color: #767f88;
    margin-bottom: 40px;
    line-height: 1.1em;
}

.container p {
    font-size: 1.1em;
    color: #767f88;
}

.scrollTop {
    position: fixed;
    bottom: -400px;
    right: 40px;
    width: 40px;
    height: 40px;
    background: #fff url(up.png);
    border-radius: 50%;
    background-size: 42px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.scrollTop.active {    
    bottom: 40px;
    visibility: visible;
    opacity: 1;
}