@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}
.container .section {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    background-blend-mode: multiply;
}

.container .section .content {
    position: absolute;
    bottom: 50px;
    left: 50px;
    max-width: 700px;
}

.container .section .content h2 {
    background: #fff;
    color: #111;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    font-size: 2em;
}

.container .section .content p {
    background: #fff;
    color: #111;
    font-weight: 300;
    padding: 10px 20px;
    margin-top: 10px;
}

.container .section:nth-child(1) {
    background: #33557794 url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(2) {
    background:#55886694 url(bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(3) {
    background: #6728B294 url(bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(4) {
    background:#7DAC9C94 url(bg3.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(5) {
    background:#361C0D94 url(bg4.jpg);
    background-size: cover;
    background-attachment: fixed;
}